<form [formGroup]="miFormulario" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">

        <mat-card-header>
            <mat-card-title>Shipping Information</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <div>

                <!-- campo para el Nombre -->
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Title</mat-label>
                    <input matInput placeholder="Nombre"
                           type="text" formControlName="title">
                    <mat-error *ngIf="isValid('title')">El campo es requierido</mat-error>
                </mat-form-field>

                <!-- campo para el Image -->
                <mat-form-field class="full-width">
                    <input matInput placeholder="Imagen"
                           type="text" formControlName="image">
                    <mat-error *ngIf="isValid('title')">El campo es requierido</mat-error>
                </mat-form-field>

                <!-- campo para el Price -->
                <mat-form-field class="full-width">
                    <input matInput placeholder="Price"
                           type="number" formControlName="price">
                    <mat-error *ngIf="isValid('title')">El campo es requierido</mat-error>
                </mat-form-field>

                <!-- campo para el description -->
                <mat-form-field class="full-width">
                    <input matInput placeholder="Description"
                           type="text" formControlName="description">
                    <mat-error *ngIf="isValid('title')">El campo es requierido</mat-error>
                </mat-form-field>


            </div>

        </mat-card-content>


        <mat-card-actions>
            <button mat-raised-button color="primary">
                Editar
                <mat-icon>edit</mat-icon>
            </button>
        </mat-card-actions>


    </mat-card>
</form>

<div>
    <pre>{{ miFormulario.value | json  }}</pre>
</div>