.full-width-table {
  width: 100%;
}

.acciones {
  width: 150px;
  text-align: center;
}

.buttons {
  text-align: center;
}

.eliminar,
.editar {
  margin-left: 3px;
}

.eliminar {
  color: red;
}

.editar {
  color: seagreen;
}
