<div class="wrapper">
    <h2>Productos Recomendados</h2>
    <ng-container>
        <ng-container *ngIf="backdrops && backdrops.length">
            <div class="backdrops">
                <ngx-glide [showArrows]="showArrows" [showBullets]="showBullets" [arrowLeftLabel]="arrowLeftLabel"
                           [arrowRightLabel]="arrowRightLabel" [type]="type" [startAt]="startAt" [perView]="perView"
                           [focusAt]="isCenter ? 'center' : focusAt" [gap]="gap"
                           [autoplay]="isAutoplay ? autoplay : false"
                           [hoverpause]="hoverpause" [keyboard]="keyboard" [bound]="bound"
                           [swipeThreshold]="isSwipeThreshold ? swipeThreshold : false"
                           [dragThreshold]="isDragThreshold ? dragThreshold : false"
                           [perTouch]="isPerTouch ? perTouch : false"
                           [touchRatio]="touchRatio" [touchAngle]="touchAngle" [animationDuration]="animationDuration"
                           [rewind]="rewind"
                           [rewindDuration]="rewindDuration" [animationTimingFunc]="animationTimingFunc"
                           [direction]="direction"
                           [listenToEvents]="true" [breakpoints]="{ '768': { perView: 1 }, '1200': { perView: 2 } }">

                    <div class="backdrop" *ngFor="let backdrop of backdrops">
                        <img [src]="backdrop" [alt]="'backdrop image ' + backdrop">
                    </div>

                </ngx-glide>

            </div>
        </ng-container>
    </ng-container>

    <h2>Productos Nuevos</h2>
    <ng-container>
        <ng-container *ngIf="backdrops && backdrops.length">
            <div class="backdrops">
                <ngx-glide [showArrows]="showArrows" [showBullets]="showBullets" [arrowLeftLabel]="arrowLeftLabel"
                           [arrowRightLabel]="arrowRightLabel" [type]="type" [startAt]="startAt" [perView]="perView"
                           [focusAt]="isCenter ? 'center' : focusAt" [gap]="gap"
                           [autoplay]="isAutoplay ? autoplay : false"
                           [hoverpause]="hoverpause" [keyboard]="keyboard" [bound]="bound"
                           [swipeThreshold]="isSwipeThreshold ? swipeThreshold : false"
                           [dragThreshold]="isDragThreshold ? dragThreshold : false"
                           [perTouch]="isPerTouch ? perTouch : false"
                           [touchRatio]="touchRatio" [touchAngle]="touchAngle" [animationDuration]="animationDuration"
                           [rewind]="rewind"
                           [rewindDuration]="rewindDuration" [animationTimingFunc]="animationTimingFunc"
                           [direction]="direction"
                           [listenToEvents]="true" [breakpoints]="{ '768': { perView: 1 }, '1200': { perView: 2 } }">
                    <div class="backdrop">
                        <img src="../../../assets/img/1.png" alt="hola mundo">
                    </div>
                    <div class="backdrop">
                        <img src="../../../assets/img/2.png" alt="hola mundo">
                    </div>
                    <div class="backdrop">
                        <img src="../../../assets/img/3.png" alt="hola mundo">
                    </div>
                    <div class="backdrop">
                        <img src="../../../assets/img/7.png" alt="hola mundo">
                    </div>
                    <div class="backdrop">
                        <img src="../../../assets/img/4.png" alt="hola mundo">
                    </div>
                </ngx-glide>

            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="isLoading">
        <p>cargando...</p>
    </ng-container>
</div>